html, body {
  width: 200px;
}

#popup_content {
   display: flex;
   flex-direction: column;
}

.input {
  flex-direction: column;
}

.submit {
  padding-top: 10px;
}

.red-border {
  border-style: solid;
  border-color: red;
}
