html, body {
  width: 200px;
  margin: 0px;
}

.level {
  padding: 8px;
}

#popup-content {
   font-family: sans-serif;
}

.custom-font {
}

.input {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.score-input {
  max-width: 3.5em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submit {
  padding-top: 10px;
}
